@import "tailwindcss";

:root {
  --background: #0b0b0f;
}

@theme inline {
  --color-background: var(--background);
  --color-primary: #ffffff;
  --color-secondary: #b3b3c0;
  --color-pink: #ff2f92;
  --color-error: #ff4d4f;
  --color-card-border: #24242c;
  --color-card-border1: #8a8a9a4c;
  --color-warning: #FFC857;
  --card-gradient:
    180deg, rgba(132, 135, 142, 0.08) 32.3%, rgba(37, 38, 40, 0.08) 74.54%;

  /* background: linear-gradient(180deg, rgba(132, 135, 142, 0.08) 32.3%, rgba(37, 38, 40, 0.08) 74.54%); */
}

body {
  font-family: "DM Sans", sans-serif;
  background: var(--background);
  color: var(--color-primary);

  overflow-x: hidden;
}

@keyframes slide-up-in {
  from {
    opacity: 0;
    transform: translateY(1.5rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-slide-up-in {
  animation: slide-up-in 0.5s ease-out forwards;
}


.containerSection {
  @apply flex flex-col items-center gap-8 md:gap-12 p-4 md:p-8 lg:pt-[180px] lg:px-[120px] w-full;
}